* {
  margin: 0px;
  padding: 0px;
  color: #333;
  font-family: sans;
}
.shadow {
  box-shadow: 10px 10px 5px grey;
}
body {
  background: #e0e0e0;
}
#settings_wrapper {
  display: none;
}
#settings_wrapper fr-settings {
  /*.shadow();*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  background-color: white;
  padding: 10px;
  border: solid 4px;
  border-color: #e0e0e0;
  position: fixed;
  bottom: 10px;
  left: 10%;
  right: 10%;
  background-color: whitesmoke;
}
#settings_wrapper fr-settings .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 4;
}
#settings_wrapper fr-settings label {
  display: block;
  white-space: nowrap;
  padding: 2px;
  margin-right: 10px;
  border: solid 2px whitesmoke;
}
#settings_wrapper fr-settings label:hover {
  transition: border-color 0.25s;
  border: solid 2px;
  border-color: #9999ff;
  transition: border 0.25s;
}
#settings_wrapper fr-settings input {
  font-size: 1.1em;
  margin-left: 10px;
  background-color: white;
  padding: 2px;
  padding-left: 10spx;
  border: solid 2px;
}
#settings_wrapper fr-settings #reload_data_button {
  transition: border-color 0.25s;
  text-align: center;
  background-color: white;
  padding: 2px;
  border: solid 2px;
  border-color: #e0e0e0;
  cursor: pointer;
  flex-grow: 3;
  white-space: nowrap;
  margin: 2px;
}
#settings_wrapper fr-settings #reload_data_button:hover {
  border-color: #9999ff;
}
#settings_wrapper fr-settings fr-toggle-dev-tools {
  display: none;
  margin: 2px;
  flex-grow: 3;
  transition: border-color 0.25s;
  text-align: center;
  background-color: white;
  padding: 2px;
  border: solid 2px;
  border-color: #e0e0e0;
  cursor: pointer;
}
#settings_wrapper fr-settings fr-toggle-dev-tools:hover {
  border-color: #9999ff;
}
.button {
  transition: border-color 0.25s;
  text-align: center;
  background-color: white;
  padding: 2px;
  border: solid 2px;
  border-color: #e0e0e0;
  cursor: pointer;
}
footer:hover {
  transition: opacity 0.25s;
  opacity: 1;
}
fr-progress-meter {
  width: 200px;
  display: flex;
  flex-direction: column;
}
fr-progress-meter span {
  text-align: center;
}
#wrapper {
  padding: 2%;
  margin: auto;
  margin-bottom: 200px;
  width: 90%;
}
fr-item-list {
  display: none;
  border: solid #e0e0e0;
}
.activateable {
  transition: border-color 0.25s;
}
.card {
  background-color: white;
  padding: 10px;
  border: solid 4px;
  border-color: #e0e0e0;
}
/*Tablesorter Style*/
table.tablesorter {
  font-family: sans;
  background-color: white;
  padding: 10px;
  font-size: 12pt;
  width: 100%;
  text-align: left;
}
table.tablesorter thead tr th,
table.tablesorter tfoot tr th {
  background-color: #e6EEEE;
  border: 1px solid #FFF;
  padding: 4px;
  border-bottom: solid 2px;
}
table.tablesorter thead tr .header {
  background-image: url('data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==');
  /*background-image: url(./res/bg.gif);*/
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table.tablesorter tbody tr td {
  background-color: white;
  transition: background-color 0.25s;
}
table.tablesorter tbody tr:hover td {
  background-color: #ccccff;
  transition: background-color 0.25s;
}
table.tablesorter tbody tr td {
  color: #3D3D3D;
  padding: 4px;
  background-color: #FFF;
  vertical-align: top;
  border-bottom: solid 1px #e0e0e0;
}
table.tablesorter thead tr .headerSortUp {
  /*background-image: url(./res/asc.gif);*/
  background-image: url('data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7');
  background-repeat: no-repeat;
  background-position: center right;
}
table.tablesorter thead tr .headerSortDown {
  background-image: url('data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7');
  /*background-image: url(res/desc.gif);*/
  background-repeat: no-repeat;
  background-position: center right;
}
table.tablesorter thead tr .headerSortUp,
table.tablesorter thead tr .headerSortDown {
  background-color: #8dbdd8;
}
