@global_background_color: lighten(lightgrey, 5);
@global_border_hover_color: lighten(blue, 30);
@global_transition_delay: .25s;
@global_font: sans;
* {
    margin: 0px;
    padding: 0px;
    color: #333;
    font-family: @global_font;
}

.shadow {
    box-shadow: 10px 10px 5px grey;
}

body {
    background: @global_background_color;
}

#settings_wrapper {
    display: none;
    fr-settings {
        /*.shadow();*/
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: left;
        .card();
        position: fixed;
        bottom: 10px;
        left: 10%;
        right: 10%;
        background-color: whitesmoke;
        .container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            flex-grow: 4;
        }
        label {
            display: block;
            white-space: nowrap;
            padding: 2px;
            margin-right: 10px;
            border: solid 2px whitesmoke;
        }
        label:hover {
            .activateable();
            border: solid 2px;
            border-color: @global_border_hover_color;
            transition: border @global_transition_delay;
        }
        input {
            font-size: 1.1em;
            margin-left: 10px;
            background-color: white;
            padding: 2px;
            padding-left: 10spx;
            border: solid 2px;
        }
        #reload_data_button {
            .button();
            flex-grow: 3;
            white-space: nowrap;
            margin: 2px;
        }
        #reload_data_button:hover {
            border-color: @global_border_hover_color;
        }
        fr-toggle-dev-tools {
            display: none;
            margin: 2px;
            flex-grow: 3;
            .button();
        }
        fr-toggle-dev-tools:hover {
            border-color: @global_border_hover_color;
        }
    }
}

.button {
    .activateable();
    text-align: center;
    background-color: white;
    padding: 2px;
    border: solid 2px;
    border-color: @global_background_color;
    cursor: pointer;
}

footer:hover {
    transition: opacity @global_transition_delay;
    opacity: 1;
}

fr-progress-meter {
    width: 200px;
    display: flex;
    flex-direction: column;
    span {
        text-align: center;
    }
}

#wrapper {
    padding: 2%;
    margin: auto;
    margin-bottom: 200px;
    width: 90%;
}

fr-item-list {
    display: none;
    border: solid @global_background_color;
}

.activateable {
    transition: border-color @global_transition_delay;
}

.card {
    background-color: white;
    padding: 10px;
    border: solid 4px;
    border-color: @global_background_color;
}


/*Tablesorter Style*/

table.tablesorter {
    font-family: @global_font;
    background-color: white;
    padding: 10px;
    font-size: 12pt;
    width: 100%;
    text-align: left;
    thead tr th,
    tfoot tr th {
        background-color: #e6EEEE;
        border: 1px solid #FFF;
        padding: 4px;
        border-bottom: solid 2px;
    }
    thead tr .header {
        background-image: url('data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==');
        /*background-image: url(./res/bg.gif);*/
        background-repeat: no-repeat;
        background-position: center right;
        cursor: pointer;
    }
    tbody {
        tr td{
            background-color: white;
            transition: background-color @global_transition_delay;
        }
        tr:hover td {
            background-color: lighten(@global_border_hover_color, 10);
            transition: background-color @global_transition_delay;
        }
        tr td {
            color: #3D3D3D;
            padding: 4px;
            background-color: #FFF;
            vertical-align: top;
            border-bottom: solid 1px @global_background_color;
        }
    }
    thead {
        tr {
            .headerSortUp {
                /*background-image: url(./res/asc.gif);*/
                background-image: url('data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7');
                background-repeat: no-repeat;
                background-position: center right;
            }
            .headerSortDown {
                background-image: url('data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7');
                /*background-image: url(res/desc.gif);*/
                background-repeat: no-repeat;
                background-position: center right;
            }
            .headerSortUp,
            .headerSortDown {
                background-color: #8dbdd8;
            }
        }
    }
}
